{% extends '_baseportal.html.twig' %}

{% block body %}

    <h3> Click on one of the icons above to get started or view contact info for IWA offices below</h3>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Office Name</th>
            <th>Address Line1</th>
            <th>Address Line2</th>
            <th>Address Line3</th>
            <th>County/Postcode</th>
            <th>Landline Telephone</th>
            <th>Mobile Telephone</th>
            <th>Active</th>

        </tr>
        </thead>
        <tbody>
        {% for office in offices %}
            <tr>
                <td>
                    <ul>
                        <li>
                            <a class="button-blue" href="{{ path('office_show', { 'id': office.id }) }}">View</a>

                        </li>
                        <li>
                            {% if is_granted('ROLE_ADMIN') %}

                                <a class="button-orange" href="{{ path('office_edit', { 'id': office.id }) }}">Edit</a>
                            {% endif %}
                        </li>
                    </ul>
                </td>
                <td>{{ office.officeName }}</td>
                <td>{{ office.addressLine1 }}</td>
                <td>{{ office.addressLine2 }}</td>
                <td>{{ office.addressLine3 }}</td>
                <td>{{ office.countyPostcode }}</td>
                <td>{{ office.landlineTelephone }}</td>
                <td>{{ office.mobileTelephone }}</td>
                <td>{% if office.isActive %}Yes{% else %}No{% endif %}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

    <ul>
        <li>
            <a class="button-green" href="{{ path('office_new') }}">Create a new Office</a>
        </li>
    </ul>
        <a href="{{ path('security_logout') }}">
            <a class="btn btn-default btn"> You are currently logged in as {{ app.user }}</a>
            <img src="/images/logout.png" alt="customer" height="32" width="32"></a>
        <a class="button-grey" href="{{ path('security_logout') }}">Logout</a>
    {% endif %}
{% endblock %}
