{% extends '_base.html.twig' %}

{% block body %}
    <h1>Rosters list</h1>
    <ul>
        <li>
            <a href="{{ path('roster_new') }}" class="btn btn-success btn-sm" role="button">Create a new roster</a>
        </li>
    </ul>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Serviceuserid</th>
            <th>Status</th>
            <th>Resources needed</th>
            <th>Customer</th>
        </tr>
        </thead>
        <tbody>
        {% for roster in rosters %}
            <tr>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roster_show', { 'id': roster.id }) }}">View</a>
                        </li>
                        <li>
                            <a href="{{ path('roster_edit', { 'id': roster.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>

                <td>{{ roster.serviceUserId }}</td>

                <td>{{ roster.rosterStatus }}</td>
                <td>{{ roster.numberResourcesNeeded }}</td>
                <td>{{ roster.customerId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
