{% extends 'base.html.twig' %}

{% block body %}
    <h1>Update the Employee Assignment for this Roster</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="button-green" type="submit" value="Submit Changes"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="button-blue" href="{{ path('rosterassignedemployee_index') }}">Back to the Assigned Employees
                list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="button-red" type="submit" value="Delete Assignment">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
