{% extends '_base.html.twig' %}
{% block body %}

    <h1>Assign an Employee to this Roster </h1>
    <h4>Roster Status:
        {% if assignedEmployees|length < roster.numberResourcesNeeded %}
            <div class="alert alert-danger" role="alert">
                <strong>Warning:</strong> Not enough employees assigned
            </div>
        {% elseif assignedEmployees|length == roster.numberResourcesNeeded %}
            <div class="alert alert-success" role="alert">
                <strong>Success:</strong> Correct number of employees assigned
            </div>
        {% elseif assignedEmployees|length > roster.numberResourcesNeeded %}
            <div class="alert alert-danger" role="alert">
                <strong>Warning:</strong> Too many employees assigned
            </div>
        {% endif %}
    </h4>
    <div class="column_container">
        <section class="col-md-4">
            <h2>Roster Details</h2>
            <a class="button-green"
               href="{{ path('serviceuser_show', { 'id': roster.serviceUserId.id }) }}">Go to Service User record</a>
            <a class="button-green"
               href="{{ path('roster_show', { 'id': roster.id }) }}">Go to Roster record</a>

            <table>
                <tr>
                    <th>Id</th>
                    <td>{{ roster.id }}</td>
                </tr>
                <tr>
                    <th>Serviceuserid</th>
                    <td>{{ roster.serviceUserId }}</td>
                </tr>
                <tr>
                    <th>Service User Address</th>
                    <td>{{ roster.serviceUserId.addressLine1 }} {{ roster.serviceUserId.addressLine2 }} {{ roster.serviceUserId.addressLine3 }}
                        {{ roster.serviceUserId.countyPostcode }}</td>
                </tr>
                <tr>
                    <th>Rosterstarttime</th>
                    <td>{% if roster.rosterStartTime %}{{ roster.rosterStartTime|date('D d-m-y H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Rosterendtime</th>
                    <td>{% if roster.rosterEndTime %}{{ roster.rosterEndTime|date('D d-m-y H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Rosterstatus</th>
                    <td>{{ roster.rosterStatus }}</td>
                </tr>
                <tr>
                    <th>Roster Duration</th>
                    <td>
                        {{ roster.rosterEndTime.diff(roster.rosterStartTime )|date("%H:%i") }}
                    </td>
                <tr>
                    <th>Number of resources needed</th>
                    <td>{{ roster.numberResourcesNeeded }}</td>
                </tr>

                <tr>
                    <th>Current staffing Assigned</th>
                    <td>
                        {{ assignedEmployees|length }}
                    </td>
                </tr>

                <tr>
                    <th>Customerid</th>
                    <td>{{ roster.customerId }}</td>
                </tr>
            </table>
        </section>
        <section class="col-md-4">
            <h2>Employees already assigned to this Roster</h2>

            <table>
                <tr>

                    <th></th>
                    <th>Employee</th>
                    <th>Mobile</th>
                    <th>Address Line 1</th>
                    <th>Address Line 2</th>
                    <th>Address Line 3</th>
                    <th>County Postcode</th>

                </tr>

                <tr>
                    {% for assignedEmployee in assignedEmployees %}

                    <td>

                        <a class="button-red"
                           href="{{ path('rosterassignedemployee_delete', { 'id': assignedEmployee.id }) }}"
                        >Remove</a>
                    </td>
                    <td>{{ assignedEmployee.employeeId }}</td>
                    <td>{{ assignedEmployee.employeeId.mobileTelephone }}</td>
                    <td>{{ assignedEmployee.employeeId.addressLine1 }}</td>
                    <td>{{ assignedEmployee.employeeId.addressLine2 }}</td>
                    <td>{{ assignedEmployee.employeeId.addressLine3 }}</td>
                    <td>{{ assignedEmployee.employeeId.countyPostcode }}</td>


                </tr>
                {% endfor %}
            </table>
        </section>
        <section class="col-md-4">
            <h2>Other employees who are currently available for this Roster:</h2>
                <a class="button-blue" href="{{ path('rosterassignedemployee_index') }}">Back to the Assigned Employees
                    list</a>

                {% if availableEmployees|length ==0 %}
                <tr>There are no available employees</tr>
                {% else %}
                <table>
                    <tr>


                        <th>Record Id</th>
                        <th>Staff Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Distance in kms</th>
                        <th>Action</th>
                    </tr>

                    {% for availableEmployee in availableEmployees %}
                    <tr>
                        <td>
                            {{ availableEmployee.Id }}
                        </td>
                        <td>
                            {{ availableEmployee.staffNumber }}
                        </td>
                        <td>{{ availableEmployee.firstName }}
                        </td>
                        <td>
                            {{ availableEmployee.lastName }}
                        </td>
                        <td>
                            {{ availableEmployee.distance }}
                        </td>
                        <td>
                            <a href="{{ path('rosterassignedemployee_assign', { 'rosterid': roster.id,'employeeid': availableEmployee.id} ) }}"
                               class="button-green">Assign Employee</a>

                        </td>
                        {% endfor %}
                        {% endif %}
                    </tr>
                </table>
            </section>


    </div>
{% endblock %}
