{% extends '_base.html.twig' %}
{% block body %}

    <h1>Assign an Employee to this Roster </h1>
    <div class="column_container">
        <section class="flex">
            <section>


            </section>
            <table>
                <tr>
                    <th>Id</th>
                    <td>{{ roster.id }}</td>
                </tr>
                <tr>
                    <th>Serviceuserid</th>
                    <td>{{ roster.serviceUserId }}</td>
                </tr>
                <tr>
                    <th>Rosterstarttime</th>
                    <td>{% if roster.rosterStartTime %}{{ roster.rosterStartTime|date('D d-m-y H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Rosterendtime</th>
                    <td>{% if roster.rosterEndTime %}{{ roster.rosterEndTime|date('D d-m-y H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Rosterstatus</th>
                    <td>{{ roster.rosterStatus }}</td>
                </tr>
                <tr>
                    <th>Roster Duration</th>
                    <td>
                        {{ roster.rosterEndTime.diff(roster.rosterStartTime )|date("%H:%i") }}
                    </td>
                <tr>
                    <th>Number of resources needed</th>
                    <td>{{ roster.numberResourcesNeeded }}</td>
                </tr>


                <tr>
                    <th>Customerid</th>
                    <td>{{ roster.customerId }}</td>
                </tr>
            </table>
        </section>
        <section class="flex">
            <section>
                <h4>The following employees are currently available for this Roster:</h4>
                <a class="button-blue" href="{{ path('rosterassignedemployee_index') }}">Back to the Assigned Employees
                    list</a>

                {% if availableEmployees|length ==0 %}
                <tr>There are no available employees</tr>
                {% else %}
                <table>
                    <tr>


                        <th>Record Id</th>
                        <th>Staff Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Distance in kms</th>
                        <th>Action</th>
                    </tr>

                    {% for availableEmployee in availableEmployees %}
                    <tr>
                        <td>
                            {{ availableEmployee.Id }}
                        </td>
                        <td>
                            {{ availableEmployee.staffNumber }}
                        </td>
                        <td>{{ availableEmployee.firstName }}
                        </td>
                        <td>
                            {{ availableEmployee.lastName }}
                        </td>
                        <td>
                            {{ availableEmployee.distance }}
                        </td>
                        <td>
                            <a href="{{ path('rosterassignedemployee_assign', { 'rosterid': roster.id,'employeeid': availableEmployee.id} ) }}"
                               class="button-green">Assign Employee</a>

                        </td>
                        {% endfor %}
                        {% endif %}
                    </tr>
                </table>
            </section>

        </section>


    </div>
{% endblock %}
