{% extends '_base.html.twig' %}

{% block body %}
    <h1>Manage Assigned Employee for this Roster </h1>

    <table>
        <tbody>
        <tr>
            <th>Employee</th>
            <td>{{ rosterAssignedEmployee.employeeId }}</td>
        </tr>
        <tr>
            <th>Employee Address</th>
            <td>{{ rosterAssignedEmployee.employeeId.addressLine1 }} {{ rosterAssignedEmployee.employeeId.addressLine2 }} {{ rosterAssignedEmployee.employeeId.addressLine3 }}
                {{ rosterAssignedEmployee.employeeId.countyPostcode }}</td>
        </tr>
        <tr>
            <th>Service User</th>
            <td>{{ rosterAssignedEmployee.rosterId.serviceUserId }}</td>
        </tr>
        <tr>
            <th>Service User Address</th>
            <td>{{ rosterAssignedEmployee.rosterId.serviceUserId.addressLine1 }} {{ rosterAssignedEmployee.rosterId.serviceUserId.addressLine2 }} {{ rosterAssignedEmployee.rosterId.serviceUserId.addressLine3 }}
                {{ rosterAssignedEmployee.rosterId.serviceUserId.countyPostcode }}</td>
        </tr>
        <tr>
            <th>Start Time</th>
            <td>{% if rosterAssignedEmployee.rosterId.rosterStartTime %}{{ rosterAssignedEmployee.rosterId.rosterStartTime|date('D d-m-y H:i:s') }}{% endif %}</td>

        </tr>
        <tr>
            <th>End Time</th>
            <td>{% if rosterAssignedEmployee.rosterId.rosterEndTime %}{{ rosterAssignedEmployee.rosterId.rosterEndTime|date('D d-m-y H:i:s') }}{% endif %}</td>

        </tr>
        <tr>
            <th>Status</th>
            <td>
                {{ rosterAssignedEmployee.rosterId.rosterStatus }}
            </td>
        </tr>
        <tr>
            <th>Required staffing</th>
            <td>
                {{ rosterAssignedEmployee.rosterId.numberResourcesNeeded }}
            </td>
        </tr>
        <tr>
            <th>Current staffing</th>
            <td>
                {{ rosterAssignedEmployee|length }}
            </td>
        </tr>


        </tbody>
    </table>

    <ul>
        <li>
            <a class="button-grey" href="{{ path('rosterassignedemployee_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="button-orange"
               href="{{ path('rosterassignedemployee_edit', { 'id': rosterAssignedEmployee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="button-red" type="submit" value="Remove this employee from the Roster">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
