<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <title>Scheduler - {% block pageTitle %}{% endblock %}</title>
    <style>
        @import '/css/flash.css';
        @import '/css/style.css';
        @import '/css/aside.css';
        @import "/css/nav.css";
        @import "/css/root.css";
        @import "/css/basic.css";
        @import "/css/header_footer.css";
        @import "/css/layout.css";
        @import "/css/buttons.css";

        {% block stylesheets %}
        label {
            display: inline-flex;
            float: left;
            width: 3rem;
            padding-right: 0.5rem;
            font-weight: bold;
            color: blue;
            text-align: right;
        }

        .form-field {
            padding-bottom: 1rem;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
        });


        $(document).ready(function () {
            $('input.timepicker').timepicker({});
        });
        $(".alert").alert('close')
    </script>
    {% endblock %}
</head>
<body>

<div class="topnav">

    <a href="{{ path('office_index') }}">

        <img src="/images/iwalogo2017.png" alt="IWA logo" width="160" height="60"></a>
    <a href="{{ path('office_index') }}" class="btn btn-primary" role="button">Home</a>

    <a href="{{ path('roster_index') }}">

        <img src="/images/time.png" alt="Clock" height="32" width="32"></a>
    <a href="{{ path('roster_index') }}" class="btn btn-danger" role="button">Rosters</a>

    <a href="{{ path('serviceuser_index') }}">

        <img src="/images/serviceuser.png" alt="service user" height="32" width="32"></a>


    <a href="{{ path('serviceuser_index') }}" class="btn btn-primary" role="button">Service Users</a>

    <a href="{{ path('employee_index') }}">

        <img src="/images/employee.png" alt="Employee" height="32" width="32"></a>


    <a href="{{ path('employee_index') }}" class="btn btn-warning" role="button">Employees</a>

    <a href="{{ path('office_index') }}">

        <img src="/images/department.png" alt="Office" height="32" width="32"></a>
    <a href="{{ path('office_index') }}" class="btn btn-success" role="button">Offices</a>

    <a href="{{ path('customer_index') }}">

        <img src="/images/customer.png" alt="customer" height="32" width="32"></a>

    <a href="{{ path('customer_index') }}" class="btn btn-info" role="button">Customers</a>


    <a href="{{ path('user_index') }}">

        <img src="/images/user.png" alt="user" height="32" width="32"></a>

    <a href="{{ path('user_index') }}" class="btn btn-default" role="button">Users</a>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('security_logout') }}">
            <a class="btn btn-default btn"> Current user:{{ app.user }}</a>
            <img src="/images/logout.png" alt="customer" height="32" width="32"></a>
        <a href="{{ path('security_logout') }}" class="btn btn-primary" role="button">Logout</a>

        {% else %}
            <a href="{{ path('serviceuser_index') }}">
                <img src="/images/login.png" alt="customer" height="32" width="32"></a>
            <a href="{{ path('serviceuser_index') }}" class="btn btn-success" role="button">Login</a>

    {% endif %}
</div>

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert-danger" role="alert">
        <strong>{{ flashMessage }}</strong>
    </div>
{% endfor %}
{% for flashNotice in app.session.flashbag.get('notice') %}
    <div class="alert-success" role="alert">
        <strong>{{ flashNotice }}</strong>
    </div>
{% endfor %}
{% block body %}
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
{% endblock %}
</body>
</html>
