{% extends '_base.html.twig' %}

{% block body %}
    <h1>Service users and their Assigned Employees list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for serviceUserAssignedEmployee in serviceUserAssignedEmployees %}
            <tr>
                <td>
                    <a href="{{ path('serviceuserassignedemployee_show', { 'id': serviceUserAssignedEmployee.id }) }}">{{ serviceUserAssignedEmployee.id }}</a>
                </td>

                <td>
                    {{ serviceUserAssignedEmployee.EmployeeId }}
                    {{ serviceUserAssignedEmployee.EmployeeId.AddressLine1 }} {{ serviceUserAssignedEmployee.EmployeeId.AddressLine2 }} {{ serviceUserAssignedEmployee.EmployeeId.AddressLine3 }} {{ serviceUserAssignedEmployee.EmployeeId.CountyPostcode }}

                </td>
                <td> is assigned to</td>
                <td>
                    {{ serviceUserAssignedEmployee.ServiceUserId }} {{ serviceUserAssignedEmployee.ServiceUserId.AddressLine1 }} {{ serviceUserAssignedEmployee.ServiceUserId.AddressLine2 }} {{ serviceUserAssignedEmployee.ServiceUserId.AddressLine3 }} {{ serviceUserAssignedEmployee.ServiceUserId.CountyPostcode }}
                </td>
                <td>
                    <ul>
                        <li>
                            <a class="button-blue"
                               href="{{ path('serviceuserassignedemployee_show', { 'id': serviceUserAssignedEmployee.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="button-orange"
                               href="{{ path('serviceuserassignedemployee_edit', { 'id': serviceUserAssignedEmployee.id }) }}">Manage</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
