{% extends '_base.html.twig' %}
{% block body %}

    <div class="column_container">
        <section class="flex">
            <h4>Employee Details</h4>
            <ul>
                <li>
                    <a href="{{ path('employee_index') }}" class="btn btn-success btn-sm" role="button">Back to the
                        Employee list</a>
                </li>
                <li>
                    <a href="{{ path('employee_edit', { 'id': employee.id }) }}" class="btn btn-success btn-sm"
                       role="button">Edit Record</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" class="btn btn-success btn-sm" role="button" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </section>
    </div>
    <div class="column_container">
        <section>
            <table>
                <tbody>

                <tr>
                    <th>First name</th>
                    <td>{{ employee.firstName }}</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>{{ employee.lastName }}</td>
                </tr>
                <tr>
                    <th>Staff number</th>
                    <td>{{ employee.staffNumber }}</td>
                </tr>
                <tr>
                    <th>Address line1</th>
                    <td>{{ employee.addressLine1 }}</td>
                </tr>
                <tr>
                    <th>Address line2</th>
                    <td>{{ employee.addressLine2 }}</td>
                </tr>
                <tr>
                    <th>Address line3</th>
                    <td>{{ employee.addressLine3 }}</td>
                </tr>
                <tr>
                    <th>County/Postcode</th>
                    <td>{{ employee.countyPostcode }}</td>
                </tr>

                <tr>
                    <th>Eircode</th>
                    <td>{{ employee.eirCode }}</td>
                </tr>
                <tr>
                    <th>Landline Telephone</th>
                    <td>{{ employee.landlineTelephone }}</td>
                </tr>
                <tr>
                    <th>Mobile Telephone</th>
                    <td>{{ employee.mobileTelephone }}</td>
                </tr>
                <tr>
                    <th>Isactive</th>
                    <td>{% if employee.isActive %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Managingoffice</th>
                    <td>{{ employee.managingOffice }}</td>
                </tr>
                <tr>
                    <th>Startdate</th>
                    <td>{% if employee.startDate %}{{ employee.startDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Finishdate</th>
                    <td>{% if employee.finishDate %}{{ employee.finishDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ employee.latitude }}</td>
                </tr>
                <tr>
                    <th>Longtitude</th>
                    <td>{{ employee.longtitude }}</td>
                </tr>
                </tbody>
            </table>


        </section>

        <section>
            <section>
                <h4>Rosters for this Employee</h4>

                {% set time = "now"|date("U") %}

                <table align="stretch">
                    <thead>
                    <tr>
                        <th colspan="7" class="center">
                            <h4>{{ time|date('F') }} {{ time|date('Y') }} [Current Month]</h4>
                        </th>
                    </tr>
                    <tr>
                        <th width="12%">Sunday</th>
                        <th width="15%">Monday</th>
                        <th width="15%">Tuesday</th>
                        <th width="16%">Wednesday</th>
                        <th width="15%">Thursday</th>
                        <th width="15%">Friday</th>
                        <th width="12%">Saturday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set daysInMonth = time|date('t') %}
                        {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                        {% set dow = startDow %}
                        {% for day in range(1,daysInMonth) %}

                        {% if loop.first and startDow != 0 %}
                            <td colspan="{{ startDow }}"></td>
                        {% endif %}
                        <td>
                            <div>
                                <div><strong>{{ day }}</strong>

                                    {# as days in months have been extracted from dates, the first ten days have index keys of 01,02 then 10,11 #}
                                    {% if (attribute(daysThisMonth,day)is defined) or (attribute(daysThisMonth,0~day)is defined) %}


                                    {% if day<10 %}
                                        </br>
                                        {% for item in range(0,daysThisMonth[0~day]|length-1 ) %}


                                            <a href="{{ path('roster_show', { 'id': daysThisMonth[0~day][item].rosterId.Id}) }}"
                                               class="btn btn-success btn-sm">
                                                {{ daysThisMonth[0~day][item].rosterId.rosterStartTime|date(' H:i') }}
                                                to
                                                {{ daysThisMonth[0~day][item].rosterId.rosterEndTime|date(' H:i') }}
                                            </a>

                                        {% endfor %}
                                    {% else %}
                                        {% for item in range(0,daysThisMonth[day]|length-1 ) %}

                                            <a href="{{ path('roster_show', { 'id': daysThisMonth[day][item].rosterId.Id}) }}"
                                               class="btn btn-success btn-sm">
                                                {{ daysThisMonth[day][item].rosterId.rosterStartTime|date(' H:i') }} to
                                                {{ daysThisMonth[day][item].rosterId.rosterEndTime|date(' H:i') }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>


                            {% endif %}
                            {% set month= time|date('m') %}
                            {% set year= time|date('Y') %}
                            {% if day<10 %}
                                {% set currentDate = [0~day,month,year]|join('-')|date("m/d/Y") %}
                            {% else %}
                                {% set currentDate = [day,month, year]|join('-')|date("m/d/Y") %}



                            {% endif %}

                        </td>
                        {% if loop.last and dow != 6 %}
                            <td colspan="{{ 6 - dow }}">&nbsp;</td>
                        {% endif %}
                        {% if dow == 6 %}
                        {% set dow = 0 %}
                    </tr>
                    <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                        {% endfor %}


                    </tr>
                    </tbody>
                </table>

                {% set time = beginNextMonth |date_modify("-1 day")|date("U") %}

                <table>
                    <thead>
                    <tr>
                        <th colspan="7" class="center">
                            <h4>{{ time|date('F') }} {{ time|date('Y') }} [Next Month]</h4>
                        </th>
                    </tr>
                    <tr>
                        <th width="12%">Sunday</th>
                        <th width="15%">Monday</th>
                        <th width="15%">Tuesday</th>
                        <th width="16%">Wednesday</th>
                        <th width="15%">Thursday</th>
                        <th width="15%">Friday</th>
                        <th width="12%">Saturday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set daysInMonth = time|date('t') %}
                        {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                        {% set dow = startDow %}
                        {% for day in range(1,daysInMonth) %}

                        {% if loop.first and startDow != 0 %}
                            <td colspan="{{ startDow }}"></td>
                        {% endif %}
                        <td>
                            <div>
                                <div><strong>{{ day }}</strong>

                                    {# as days in months have been extracted from dates, the first ten days have index keys of 01,02 then 10,11 #}
                                    {% if (attribute(daysNextMonth,day)is defined) or (attribute(daysNextMonth,0~day)is defined) %}


                                    {% if day<10 %}
                                        </br>
                                        {% for item in range(0,daysNextMonth[0~day]|length-1 ) %}


                                            <a href="{{ path('roster_show', { 'id': daysNextMonth[0~day][item].rosterId.Id}) }}"
                                               class="btn btn-success btn-sm">
                                                {{ daysNextMonth[0~day][item].rosterId.rosterStartTime|date(' H:i') }}
                                                to
                                                {{ daysNextMonth[0~day][item].rosterId.rosterEndTime|date(' H:i') }}
                                            </a>

                                        {% endfor %}
                                    {% else %}
                                        {% for item in range(0,daysThisMonth[day]|length-1 ) %}

                                            <a href="{{ path('roster_show', { 'id': daysThisMonth[day][item].rosterId.Id}) }}"
                                               class="btn btn-success btn-sm">
                                                {{ daysThisMonth[day][item].rosterId.rosterStartTime|date(' H:i') }} to
                                                {{ daysThisMonth[day][item].rosterId.rosterEndTime|date(' H:i') }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>


                            {% endif %}
                            {% set month= time|date('m') %}
                            {% set year= time|date('Y') %}
                            {% if day<10 %}
                                {% set currentDate = [0~day,month,year]|join('-')|date("m/d/Y") %}
                            {% else %}
                                {% set currentDate = [day,month, year]|join('-')|date("m/d/Y") %}



                            {% endif %}

                        </td>
                        {% if loop.last and dow != 6 %}
                            <td colspan="{{ 6 - dow }}">&nbsp;</td>
                        {% endif %}
                        {% if dow == 6 %}
                        {% set dow = 0 %}
                    </tr>
                    <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                        {% endfor %}


                    </tr>
                    </tbody>
                </table>


                {% set time = beginLastMonth |date_modify("-1 day")|date("U") %}

                <table>
                    <thead>
                    <tr>
                        <th colspan="7" class="center">
                            <h4>{{ time|date('F') }} {{ time|date('Y') }} [Last Month]</h4>
                        </th>
                    </tr>
                    <tr>
                        <th width="12%">Sunday</th>
                        <th width="15%">Monday</th>
                        <th width="15%">Tuesday</th>
                        <th width="16%">Wednesday</th>
                        <th width="15%">Thursday</th>
                        <th width="15%">Friday</th>
                        <th width="12%">Saturday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set daysInMonth = time|date('t') %}
                        {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                        {% set dow = startDow %}
                        {% for day in range(1,daysInMonth) %}

                        {% if loop.first and startDow != 0 %}
                            <td colspan="{{ startDow }}"></td>
                        {% endif %}
                        <td>
                            <div>
                                <div><strong>{{ day }}</strong>

                                    {# as days in months have been extracted from dates, the first ten days have index keys of 01,02 then 10,11 #}
                                    {% if (attribute(daysLastMonth,day)is defined) or (attribute(daysLastMonth,0~day)is defined) %}


                                    {% if day<10 %}
                                        </br>
                                        {% for item in range(0,daysLastMonth[0~day]|length-1 ) %}


                                            <a href="{{ path('roster_show', { 'id': daysLastMonth[0~day][item].rosterId.Id}) }}"
                                               class="btn btn-success btn-sm">
                                                {{ daysLastMonth[0~day][item].rosterId.rosterStartTime|date(' H:i') }}
                                                to
                                                {{ daysLastMonth[0~day][item].rosterId.rosterEndTime|date(' H:i') }}
                                            </a>

                                        {% endfor %}
                                    {% else %}
                                        {% for item in range(0,daysThisMonth[day]|length-1 ) %}

                                            <a href="{{ path('roster_show', { 'id': daysLastMonth[day][item].rosterId.Id}) }}"
                                               class="btn btn-success btn-sm">
                                                {{ daysLastMonth[day][item].rosterId.rosterStartTime|date(' H:i') }} to
                                                {{ daysLastMonth[day][item].rosterId.rosterEndTime|date(' H:i') }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>


                            {% endif %}
                            {% set month= time|date('m') %}
                            {% set year= time|date('Y') %}
                            {% if day<10 %}
                                {% set currentDate = [0~day,month,year]|join('-')|date("m/d/Y") %}
                            {% else %}
                                {% set currentDate = [day,month, year]|join('-')|date("m/d/Y") %}



                            {% endif %}

                        </td>
                        {% if loop.last and dow != 6 %}
                            <td colspan="{{ 6 - dow }}">&nbsp;</td>
                        {% endif %}
                        {% if dow == 6 %}
                        {% set dow = 0 %}
                    </tr>
                    <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                        {% endfor %}


                    </tr>
                    </tbody>
                </table>
            </section>
        </section>

        <section>
            <section>
                    <h4>
                    <span>
                  <strong>Absences for this employee</strong>
                         <a href="{{ path('employeeabsence_new', { 'employee': employee.id }) }}"
                            class="btn btn-success btn-sm" role="button">Add New Absence</a>

              </span>
                    </h4>


                        <table>
                <tr>
                    <th>Reason</th>
                    <th>Starttime</th>
                    <th>Endtime</th>
                    <th>Duration</th>

                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for employeeAbsence in employeeAbsences %}
                    <tr>
                        <td>{{ employeeAbsence.absenceReason }}</td>
                        <td>{% if employeeAbsence.startTime %}{{ employeeAbsence.startTime|date('D d-m-y H:i:s') }}{% endif %}</td>
                        <td>{% if employeeAbsence.endTime %}{{ employeeAbsence.endTime|date('D d-m-y H:i:s ') }}{% endif %}</td>


                        <td>
                            {% set difference = date(employeeAbsence.endTime ).diff(date(employeeAbsence.startTime  )) %}
                            {% set leftDays = difference.days %}
                            {% if leftDays == 1 %}
                                1 day
                            {% else %}
                                {{ leftDays }} days
                            {% endif %}
                        </td>

                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('employeeabsence_edit', { 'id': employeeAbsence.id }) }}"
                                       class="btn btn-info btn-sm" role="button">Update</a>
                                    <span>. </span>
                                    <a href="{{ path('employeeabsence_delete', { 'id': employeeAbsence.id }) }}"
                                       class="btn btn-info btn-sm" role="button">Remove</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </section>
            <section>
                    <h4>
                    <span>
                  <strong>Unavailable Times for employee</strong>

              </span>
                        <a href="{{ path('employeeunavailability_new', { 'employee': employee.id }) }}"
                           class="btn btn-success btn-sm" role="button">Add New Unavailable Time </a>
                    </h4>

            <table>

                <tr>
                    <th>Day Of Week</th>
                    <th>Starttime</th>
                    <th>Endtime</th>
                    <th>Duration</th>
                    <th>Reason</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for employeeunavailability in employeeUnavailability %}
                    <tr>
                        <td>
                            {% if  employeeunavailability.dayOfWeek==1 %}
                                Monday
                            {% elseif employeeunavailability.dayOfWeek==2 %}
                                Tuesday
                            {% elseif employeeunavailability.dayOfWeek==3 %}
                                Wednesday
                            {% elseif employeeunavailability.dayOfWeek==4 %}
                                Thursday
                            {% elseif employeeunavailability.dayOfWeek==5 %}
                                Friday
                            {% elseif employeeunavailability.dayOfWeek==6 %}
                                Saturday
                            {% elseif employeeunavailability.dayOfWeek==7 %}
                                Sunday
                            {% endif %}
                        </td>
                        <td>{% if employeeunavailability.startTime %}{{ employeeunavailability.startTime|date('H:i:s') }}{% endif %}</td>
                        <td>{% if employeeunavailability.endTime %}{{ employeeunavailability.endTime|date('H:i:s') }}{% endif %}</td>
                        <td>{{ employeeunavailability.endTime.diff(employeeunavailability.startTime )|date("%H hrs ") }}</td>
                        <td>{{ employeeunavailability.unavailabilityReason }}</td>


                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('employeeunavailability_edit', { 'id': employeeunavailability.id }) }}"
                                       class="btn btn-info btn-sm" role="button">Update</a>
                                    <span><p>.</p> </span>

                                    <a href="{{ path('employeeunavailability_delete', { 'id': employeeunavailability.id }) }}"
                                       class="btn btn-info btn-sm" role="button">Remove</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </section>
            <section>
                <p>
                    <iframe
                            width="380"
                            height="405"
                            frameborder="1" style="align-items: center"
                            src="http://maps.google.com/maps?q={{ employee.latitude }},{{ employee.longtitude }}&z=13&output=embed"></iframe>
                </p>
        </section>
        </section>
    </div>

{% endblock %}
