{% extends '_base.html.twig' %}

{% block body %}
    <div class="column_container">
        <section>
            <h4>Service User Details</h4>

            <table>

                <tr>

                    <th>First name</th>
                    <td>{{ serviceUser.firstName }}</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>{{ serviceUser.lastName }}</td>
                </tr>
                <tr>
                    <th>Address line1</th>
                    <td>{{ serviceUser.addressLine1 }}</td>
                </tr>
                <tr>
                    <th>Address line2</th>
                    <td>{{ serviceUser.addressLine2 }}</td>
                </tr>
                <tr>
                    <th>Address line3</th>
                    <td>{{ serviceUser.addressLine3 }}</td>
                </tr>
                <tr>
                    <th>County</th>
                    <td>{{ serviceUser.countyPostcode }}</td>
                </tr>
                <tr>
                    <th>Eircode</th>
                    <td>{{ serviceUser.eirCode }}</td>
                </tr>
                <tr>
                    <th>Landline telephone</th>
                    <td>{{ serviceUser.landlineTelephone }}</td>
                </tr>
                <tr>
                    <th>Mobile telephone</th>
                    <td>{{ serviceUser.mobileTelephone }}</td>
                </tr>
                <tr>
                    <th>Is Active</th>
                    <td>{% if serviceUser.isActive %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Start date</th>
                    <td>{% if serviceUser.startDate %}{{ serviceUser.startDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Finish date</th>
                    <td>{% if serviceUser.finishDate %}{{ serviceUser.finishDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ path('serviceuser_index') }}" class="btn btn-success btn-sm" role="button">Back to
                            the
                            Service User list</a>
                        <a href="{{ path('serviceuser_edit', { 'id': serviceUser.id }) }}"
                           class="btn btn-success btn-sm"
                           role="button">Edit Service User Record</a>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete Service User">
                        {{ form_end(delete_form) }}
                    </td>

                </tr>

            </table>

            <table>
                <th>Assigned Employees</th>
                <th>
                    <a href="{{ path('serviceuserassignedemployee_new', { 'serviceUser': serviceUser.id }) }}"
                    >Assign Employee</a>
                </th>
                {% for assignedEmployee in assignedEmployees %}

                    <tr>
                        <td>
                            {{ assignedEmployee.employeeId }}
                        </td>
                        <td>
                            <a href="{{ path('serviceuserassignedemployee_delete', { 'id': assignedEmployee.id }) }}"
                            >Remove Employee Assignment</a>
                        </td>

                    </tr>
                {% endfor %}

            </table>


            <table>
                <th>Do Not Send These Employees</th>
                <th>
                    <a href="{{ path('donotsend_new', { 'serviceUser': serviceUser.id }) }}"
                    >Mark an Employee As Do Not Send</a>

                </th>
                {% for doNotSend in doNotSends %}

                    <tr>
                        <td>
                            {{ doNotSend.employeeId }}  </td>
                        <td><a href="{{ path('donotsend_delete', { 'id': doNotSend.id }) }}"
                            >Remove Do Not Send Flag</a>
                        </td>

                    </tr>

                {% endfor %}

            </table>
        </section>
            </section>

            <section>
                <h4>Rosters for this Service User</h4>
                <a href="{{ path('roster_new_su', { 'serviceUser': serviceUser.id }) }}">Add New Roster</a>


                {% set time = "now"|date("U") %}

                <table>
                    <thead>
                    <tr>
                        <th colspan="7" class="center">
                            <h4>{{ time|date('F') }} {{ time|date('Y') }} [Current Month]</h4>
                        </th>
                    </tr>
                    <tr>
                        <th width="12%">Sunday</th>
                        <th width="15%">Monday</th>
                        <th width="15%">Tuesday</th>
                        <th width="16%">Wednesday</th>
                        <th width="15%">Thursday</th>
                        <th width="15%">Friday</th>
                        <th width="12%">Saturday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set daysInMonth = time|date('t') %}
                        {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                        {% set dow = startDow %}
                        {% for day in range(1,daysInMonth) %}

                        {% if loop.first and startDow != 0 %}
                            <td colspan="{{ startDow }}"></td>
                        {% endif %}
                        <td>
                            <div>
                                <div><strong>{{ day }}</strong>

                                    {# as days in months have been extracted from dates, the first ten days have index keys of 01,02 then 10,11 #}
                                    {% if (attribute(daysThisMonth,day)is defined) or (attribute(daysThisMonth,0~day)is defined) %}

                                    {% if day<10 %}
                                        </br>
                                        {% for item in range(0,daysThisMonth[0~day]|length-1 ) %}


                                            <a href="{{ path('roster_show', { 'id': daysThisMonth[0~day][item].id}) }}"
                                               class="btn btn-success btn-sm">

                                                {{ daysThisMonth[0~day][item].rosterStartTime|date(' H:i') }} to
                                                {{ daysThisMonth[0~day][item].rosterEndTime|date(' H:i') }}
                                            </a>

                                        {% endfor %}
                                    {% else %}
                                        {% for item in range(0,daysThisMonth[day]|length-1 ) %}

                                            <a href="{{ path('roster_show', { 'id': daysThisMonth[day][item].id}) }}"
                                               class="btn btn-success btn-sm">

                                                {{ daysThisMonth[day][item].rosterStartTime|date(' H:i') }} to
                                                {{ daysThisMonth[day][item].rosterEndTime|date(' H:i') }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            {% endif %}
                            {% set month= time|date('m') %}
                            {% set year= time|date('Y') %}
                            {% if day<10 %}
                                {% set currentDate = [0~day,month,year]|join('-')|date("m/d/Y") %}



                                <a href="{{ path('roster_new_su', { 'serviceUser': serviceUser.id, 'rosterDate': currentDate}) }}"
                                >Add</a>
                            {% else %}
                                {% set currentDate = [day,month, year]|join('-')|date("m/d/Y") %}

                                <a href="{{ path('roster_new_su', { 'serviceUser': serviceUser.id, 'rosterDate': currentDate}) }}"
                                >Add</a>

                            {% endif %}

                        </td>
                        {% if loop.last and dow != 6 %}
                            <td colspan="{{ 6 - dow }}">&nbsp;</td>
                        {% endif %}
                        {% if dow == 6 %}
                        {% set dow = 0 %}
                    </tr>
                    <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                        {% endfor %}


                    </tr>
                    </tbody>
                </table>
                {% set time = beginNextMonth |date_modify("-1 day")|date("U") %}
                <table>
                    <thead>
                    <tr>
                        <th colspan="7" class="center">
                            <h4>{{ time|date('F') }} {{ time|date('Y') }} [Next Month]</h4>
                        </th>
                    </tr>
                    <tr>
                        <th width="12%">Sunday</th>
                        <th width="15%">Monday</th>
                        <th width="15%">Tuesday</th>
                        <th width="16%">Wednesday</th>
                        <th width="15%">Thursday</th>
                        <th width="15%">Friday</th>
                        <th width="12%">Saturday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set daysInMonth = time|date('t') %}
                        {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                        {% set dow = startDow %}
                        {% for day in range(1,daysInMonth) %}

                        {% if loop.first and startDow != 0 %}
                            <td colspan="{{ startDow }}"></td>
                        {% endif %}
                        <td>
                            <div>
                                <div><strong>{{ day }}</strong>
                                    {# as days in months have been extracted from dates, the first ten days have index keys of 01,02 then 10,11 #}

                                    {% if (attribute(daysNextMonth,day)is defined) or (attribute(daysNextMonth,0~day)is defined) %}

                                    {% if day<10 %}
                                        </br>
                                        {% for item in range(0,daysNextMonth[0~day]|length-1 ) %}


                                            <a href="{{ path('roster_edit', { 'id': daysNextMonth[0~day][item].id}) }}"
                                               class="btn btn-success btn-sm">

                                                {{ daysNextMonth[0~day][item].rosterStartTime|date(' H:i') }} to
                                                {{ daysNextMonth[0~day][item].rosterEndTime|date(' H:i') }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        {% for item in range(0,daysNextMonth[day]|length-1 ) %}

                                            <a href="{{ path('roster_edit', { 'id': daysNextMonth[day][item].id}) }}"
                                               class="btn btn-success btn-sm">

                                                {{ daysNextMonth[day][item].rosterStartTime|date(' H:i') }} to
                                                {{ daysNextMonth[day][item].rosterEndTime|date(' H:i') }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}


                                </div>
                            </div>

                            {% endif %}
                            {% set month= time|date('m') %}
                            {% set year= time|date('Y') %}
                            {% if day<10 %}
                                {% set currentDate = [0~day,month,year]|join('-')|date("m/d/Y") %}



                                <a href="{{ path('roster_new_su', { 'serviceUser': serviceUser.id, 'rosterDate': currentDate}) }}"
                                >Add</a>
                            {% else %}
                                {% set currentDate = [day,month, year]|join('-')|date("m/d/Y") %}

                                <a href="{{ path('roster_new_su', { 'serviceUser': serviceUser.id, 'rosterDate': currentDate}) }}"
                                >Add</a>

                            {% endif %}

                        </td>
                        {% if loop.last and dow != 6 %}
                            <td colspan="{{ 6 - dow }}">&nbsp;</td>
                        {% endif %}
                        {% if dow == 6 %}
                        {% set dow = 0 %}
                    </tr>
                    <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                        {% endfor %}


                    </tr>
                    </tbody>
                </table>
                {% set time = beginLastMonth |date_modify("-1 day")|date("U") %}
                <table>
                    <thead>
                    <tr>
                        <th colspan="7" class="center">
                            <h4>{{ time|date('F') }} {{ time|date('Y') }} [Previous Month]</h4>
                        </th>
                    </tr>
                    <tr>
                        <th width="12%">Sunday</th>
                        <th width="15%">Monday</th>
                        <th width="15%">Tuesday</th>
                        <th width="16%">Wednesday</th>
                        <th width="15%">Thursday</th>
                        <th width="15%">Friday</th>
                        <th width="12%">Saturday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set daysInMonth = time|date('t') %}
                        {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                        {% set dow = startDow %}
                        {% for day in range(1,daysInMonth) %}

                        {% if loop.first and startDow != 0 %}
                            <td colspan="{{ startDow }}"></td>
                        {% endif %}
                        <td>
                            <div>
                                <div><strong>{{ day }}</strong>
                                    {# as days in months have been extracted from dates, the first ten days have index keys of 01,02 then 10,11 #}

                                    {% if (attribute(daysLastMonth,day)is defined) or (attribute(daysLastMonth,0~day)is defined) %}

                                    {% if day<10 %}
                                        </br>
                                        {% for item in range(0,daysLastMonth[0~day]|length-1 ) %}


                                            <a href="{{ path('roster_edit', { 'id': daysLastMonth[0~day][item].id}) }}"
                                               class="btn btn-success btn-sm">

                                                {{ daysLastMonth[0~day][item].rosterStartTime|date(' H:i') }} to
                                                {{ daysLastMonth[0~day][item].rosterEndTime|date(' H:i') }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        {% for item in range(0,daysLastMonth[day]|length-1 ) %}

                                            <a href="{{ path('roster_edit', { 'id': daysLastMonth[day][item].id}) }}"
                                               class="btn btn-success btn-sm">

                                                {{ daysLastMonth[day][item].rosterStartTime|date(' H:i') }} to
                                                {{ daysLastMonth[day][item].rosterEndTime|date(' H:i') }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}


                                </div>
                            </div>

                            {% endif %}
                        </td>
                        {% if loop.last and dow != 6 %}
                            <td colspan="{{ 6 - dow }}">&nbsp;</td>
                        {% endif %}
                        {% if dow == 6 %}
                        {% set dow = 0 %}
                    </tr>
                    <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                        {% endfor %}


                    </tr>
                    </tbody>
                </table>


        </section>
        <section class="fixed">
                <p>
                    <iframe
                            width="270"
                            height="425"
                            frameborder="0" style="border:1px"
                            src="http://maps.google.com/maps?q={{ serviceUser.latitude }},{{ serviceUser.longtitude }}&z=13&output=embed"></iframe>
                </p>
                <table>
                    <th>Latitude</th>
                    <th>Longtitude</th>
                    <tr>
                        <td>{{ serviceUser.latitude }}</td>
                        <td>{{ serviceUser.longtitude }}</td>

                    </tr>
                </table>


            </section>
    </div>
{% endblock %}
