{% extends '_base.html.twig' %}

{% block body %}
    <h3>Roster Details:
    </h3>

    <div class="column_container">
    <section class="flex">
        <section>


    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ roster.id }}</td>
        </tr>
        <tr>
            <th>Serviceuserid</th>
            <td>{{ roster.serviceUserId }}</td>
        </tr>
        <tr>
            <th>Rosterstarttime</th>
            <td>{% if roster.rosterStartTime %}{{ roster.rosterStartTime|date('D d-m-y H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Rosterendtime</th>
            <td>{% if roster.rosterEndTime %}{{ roster.rosterEndTime|date('D d-m-y H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Rosterstatus</th>
            <td>{{ roster.rosterStatus }}</td>
        </tr>
        <tr>
            <th>Roster Duration</th>
            <td>
                {{ roster.rosterEndTime.diff(roster.rosterStartTime )|date("%H:%i") }}
            </td>
        </tr>
        <tr>
            <th>Number of resources needed</th>
            <td>{{ roster.numberResourcesNeeded }}</td>
        </tr>
        <tr>
            <th>Number of resources Assigned</th>
            <td>{{ assignedEmployees|length }}</td>
        </tr>
        <tr>
            <th>Status</th>

        </tr>
        <tr>
            <th>Customerid</th>
            <td>{{ roster.customerId }}</td>
        </tr>
        </tbody>
    </table>

        </section>
    <section class="flex">
    <section>
        <h4>Assigned Employees for this Roster</h4>

        <table>
            <tr>

                <th></th>
                <th>Employee</th>
                <th>Mobile</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>Address Line 3</th>
                <th>County Postcode</th>

            </tr>

            <tr>
                {% for assignedEmployee in assignedEmployees %}

                <td>{{ assignedEmployee.employeeId }}</td>
                <td>{{ assignedEmployee.employeeId.mobileTelephone }}</td>
                <td>{{ assignedEmployee.employeeId.addressLine1 }}</td>
                <td>{{ assignedEmployee.employeeId.addressLine2 }}</td>
                <td>{{ assignedEmployee.employeeId.addressLine3 }}</td>
                <td>{{ assignedEmployee.employeeId.countyPostcode }}</td>


            </tr>
            {% endfor %}
        </table>

    </section>
    </section>
    </section>
    </div>

    <ul>
        <li>
            <a href="{{ path('portal_serviceuser_index') }}" class="btn btn-success btn-sm" role="button">Back to the
                list</a>
        </li>
        <li>
            <a href="{{ path('portal_roster_edit', { 'id': roster.id }) }}" class="btn btn-success btn-sm"
               role="button">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Cancel this roster" class="btn btn-success btn-sm" role="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}