{% extends '_base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1> You must be logged in to use that area of the site!</h1>


                {% if error %}

                    <div class="alert-danger alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {{ form_start(form) }}
                <table>
                    <tr>
                        <td>{{ form_row(form._username) }}
                        </td>
                        <td>{{ form_row(form._password) }}
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>

                {{ form_end(form) }}
                </table>
            </div>
        </div>
    </div>
{% endblock %}